.live-markdown {
  position: relative;
  text-align: center;
  background-color: #282c34;
  color: var(--primary-text);
  min-height: 100vh;
  display: grid;
}
.live-markdown .lm-container {
  position: relative;
  background-color: var(--secondary-background);
  display: grid;
  grid-template-columns: 1fr 28px 1fr;
  padding: 5vh 5vw;
  z-index: 2;
}
